<div class="container d-flex align-items-center justify-content-center" style="height: 80vh;">
  <div class="row">
    <h1 class="text-center">Register</h1>
    <hr>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input id="username" type="text" formControlName="username" class="form-control" placeholder="johnsmith152">
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input id="password" type="password" formControlName="password" class="form-control"
               placeholder="*********">
      </div>

      <div class="text-center d-flex justify-content-between">
        <a class="align-self-start text-sm-center" [routerLink]="['/login']">Sign in</a>
        <button class="btn btn-success align-self-end" type="submit" [disabled]="!registerForm.valid">Register</button>
      </div>
    </form>
  </div>
</div>
