<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="mt-5 mb-4">Privacy Policy</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-body">
          <h4 class="card-title">Data Collection and Usage</h4>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">We collect and store message content, sender and recipient information, and timestamps to facilitate messaging services.</li>
            <li class="list-group-item">User data such as usernames, passwords (encrypted), and public keys are stored to manage user accounts and secure communications.</li>
            <li class="list-group-item">All message content is end-to-end encrypted and only accessible by the intended users.</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-body">
          <h4 class="card-title">Data Storage</h4>
          <p class="card-text">Data is stored on our encrypted servers and is retained as long as necessary to provide our services or as required by law.</p>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-body">
          <h4 class="card-title">Data Sharing</h4>
          <p class="card-text">We do not share your data with third parties, except as necessary for legal compliance or with your explicit consent.</p>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-body">
          <h4 class="card-title">User Rights</h4>
          <p class="card-text">You have the right to access, rectify, delete, and port your data. </p>
          <a routerLink="/userinfo">Your user information</a> (You must be logged in to view this page)
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-body">
          <h4 class="card-title">Security</h4>
          <p class="card-text">We employ robust security measures, including encryption and secure servers, to protect your data.</p>
        </div>
      </div>
    </div>
  </div>
</div>
